In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import metrics

In [4]:
#Loading Dataset
df = pd.read_csv('Dataset.csv')

In [5]:
#Adding the mixed column with random points
df['Mixed'] = np.random.randint(1, 10, df.shape[0])
df

,Patient,Age,Waiting Time(in months),Distance(in km),Urgency,Insured,Mixed
0,1,15,7,50,4,1,4
1,2,23,3,10,3,0,6
2,3,56,6,23,2,1,8
3,4,97,5,45,5,1,4
4,5,34,11,123,1,0,5
5,6,32,7,67,3,1,3
6,7,11,8,80,4,1,3
7,8,5,4,5,2,1,1
8,9,45,3,33,5,0,2
9,10,23,9,45,1,0,7

In [6]:
#calculating rank for various patients w.r.t waiting time
df['Rank_WT']= df['Waiting Time(in months)'].rank(method ='average')
df

,Patient,Age,Waiting Time(in months),Distance(in km),Urgency,Insured,Mixed,Rank_WT
0,1,15,7,50,4,1,4,6.5
1,2,23,3,10,3,0,6,1.5
2,3,56,6,23,2,1,8,5.0
3,4,97,5,45,5,1,4,4.0
4,5,34,11,123,1,0,5,10.0
5,6,32,7,67,3,1,3,6.5
6,7,11,8,80,4,1,3,8.0
7,8,5,4,5,2,1,1,3.0
8,9,45,3,33,5,0,2,1.5
9,10,23,9,45,1,0,7,9.0

In [7]:
#defining variables for different factors and taking inputs from the user
print('Enter the values for weightage factor such that sum of Bi is equal to 1')
B1=input('Enter the weightage for Age:')
B2=input('Enter the weightage for Waiting Time:')
B3=input('Enter the weightage for Distance:')
B4=input('Enter the weightage for Urgency:')
B5=input('Enter the weightage for Insured:')
B6=input('Enter the weightage for any other mixed factors:')

Enter the values for weightage factor such that sum of Bi is equal to 1
Enter the weightage for Age:0.1
Enter the weightage for Waiting Time:0.2
Enter the weightage for Distance:0.1
Enter the weightage for Urgency:0.3
Enter the weightage for Insured:0.1
Enter the weightage for any other mixed factors:0.2

In [11]:
3#Ai is the point given to patients for different age categories
# Age<20:A1; 20<=Age<40:A2; 40<=Age<60:A3; 60<=Age:A4;
A = [];
for i in range(1,5):
  print('Enter the value of A',i)
  ele=int(input())
  A.append(ele)
print(A)

Enter the value of A 1
4
Enter the value of A 2
3
Enter the value of A 3
2
Enter the value of A 4
1
[4, 3, 2, 1]

In [9]:
n = len(df.axes[0])
n

10

In [12]:
#Calculating score on the basis of age
ls=[n]
for i in range(0,n):
  if(df['Age'].loc[df.index[i]]<=20):{
    ls.insert(i,A[0])
   }
  elif(20<df['Age'].loc[df.index[i]]<=40):{
    ls.insert(i,A[1])
  }
  elif(40<df['Age'].loc[df.index[i]]<=60):{
    ls.insert(i,A[2])
  }
  elif(df['Age'].loc[df.index[i]]>60):{
      ls.insert(i,A[3])
  }
del ls[10] 
df['Age_Score'] = ls
df

,Patient,Age,Waiting Time(in months),Distance(in km),Urgency,Insured,Mixed,Rank_WT,Age_Score
0,1,15,7,50,4,1,4,6.5,4
1,2,23,3,10,3,0,6,1.5,3
2,3,56,6,23,2,1,8,5.0,2
3,4,97,5,45,5,1,4,4.0,1
4,5,34,11,123,1,0,5,10.0,3
5,6,32,7,67,3,1,3,6.5,3
6,7,11,8,80,4,1,3,8.0,4
7,8,5,4,5,2,1,1,3.0,4
8,9,45,3,33,5,0,2,1.5,2
9,10,23,9,45,1,0,7,9.0,3

In [14]:
1#Similarly for distance(Di)
#D1: Dist<20; D2: 20<=Dist<50; D3: 50<=Dist<100; D4: Dist>100
D = [];
for i in range(1,5):
  print('Enter the value of D',i)
  ele=int(input())
  D.append(ele)
print(D)

Enter the value of D 1
8
Enter the value of D 2
6
Enter the value of D 3
4
Enter the value of D 4
2
[8, 6, 4, 2]

In [15]:
#Calculating score on the basis of distance
ds=[n]

for i in range(0,n):
  if(df['Distance(in km)'].loc[df.index[i]]<=20):{
    ds.insert(i,D[0])
   }
  elif(20<df['Distance(in km)'].loc[df.index[i]]<=50):{
    ds.insert(i,D[1])
  }
  elif(50<df['Distance(in km)'].loc[df.index[i]]<=100):{
    ds.insert(i,D[2])
  }
  elif(df['Distance(in km)'].loc[df.index[i]]>100):{
      ds.insert(i,D[3])
  }
del ds[n]
df['Dist_Score'] = ds
df

,Patient,Age,Waiting Time(in months),Distance(in km),Urgency,Insured,Mixed,Rank_WT,Age_Score,Dist_Score
0,1,15,7,50,4,1,4,6.5,4,6
1,2,23,3,10,3,0,6,1.5,3,8
2,3,56,6,23,2,1,8,5.0,2,6
3,4,97,5,45,5,1,4,4.0,1,6
4,5,34,11,123,1,0,5,10.0,3,2
5,6,32,7,67,3,1,3,6.5,3,4
6,7,11,8,80,4,1,3,8.0,4,4
7,8,5,4,5,2,1,1,3.0,4,8
8,9,45,3,33,5,0,2,1.5,2,6
9,10,23,9,45,1,0,7,9.0,3,6

In [16]:
#Calculating score on the basis of waiting time
df['Wt_Score'] = df.apply(lambda row: float(B2)*(row.Rank_WT/n), axis = 1)
df

,Patient,Age,Waiting Time(in months),Distance(in km),Urgency,Insured,Mixed,Rank_WT,Age_Score,Dist_Score,Wt_Score
0,1,15,7,50,4,1,4,6.5,4,6,0.13
1,2,23,3,10,3,0,6,1.5,3,8,0.03
2,3,56,6,23,2,1,8,5.0,2,6,0.10
3,4,97,5,45,5,1,4,4.0,1,6,0.08
4,5,34,11,123,1,0,5,10.0,3,2,0.20
5,6,32,7,67,3,1,3,6.5,3,4,0.13
6,7,11,8,80,4,1,3,8.0,4,4,0.16
7,8,5,4,5,2,1,1,3.0,4,8,0.06
8,9,45,3,33,5,0,2,1.5,2,6,0.03
9,10,23,9,45,1,0,7,9.0,3,6,0.18

In [17]:
#Calculating score on the basis of urgency
df['Urgency_score'] = df.apply(lambda row: float(B4)*(row.Urgency), axis = 1)
df

,Patient,Age,Waiting Time(in months),Distance(in km),Urgency,Insured,Mixed,Rank_WT,Age_Score,Dist_Score,Wt_Score,Urgency_score
0,1,15,7,50,4,1,4,6.5,4,6,0.13,1.2
1,2,23,3,10,3,0,6,1.5,3,8,0.03,0.9
2,3,56,6,23,2,1,8,5.0,2,6,0.10,0.6
3,4,97,5,45,5,1,4,4.0,1,6,0.08,1.5
4,5,34,11,123,1,0,5,10.0,3,2,0.20,0.3
5,6,32,7,67,3,1,3,6.5,3,4,0.13,0.9
6,7,11,8,80,4,1,3,8.0,4,4,0.16,1.2
7,8,5,4,5,2,1,1,3.0,4,8,0.06,0.6
8,9,45,3,33,5,0,2,1.5,2,6,0.03,1.5
9,10,23,9,45,1,0,7,9.0,3,6,0.18,0.3

In [18]:
#Calculating score on the basis of insurance
df['Ins_Score'] = df.apply(lambda row: float(B5)*(row.Insured), axis = 1)
df

,Patient,Age,Waiting Time(in months),Distance(in km),Urgency,Insured,Mixed,Rank_WT,Age_Score,Dist_Score,Wt_Score,Urgency_score,Ins_Score
0,1,15,7,50,4,1,4,6.5,4,6,0.13,1.2,0.1
1,2,23,3,10,3,0,6,1.5,3,8,0.03,0.9,0.0
2,3,56,6,23,2,1,8,5.0,2,6,0.10,0.6,0.1
3,4,97,5,45,5,1,4,4.0,1,6,0.08,1.5,0.1
4,5,34,11,123,1,0,5,10.0,3,2,0.20,0.3,0.0
5,6,32,7,67,3,1,3,6.5,3,4,0.13,0.9,0.1
6,7,11,8,80,4,1,3,8.0,4,4,0.16,1.2,0.1
7,8,5,4,5,2,1,1,3.0,4,8,0.06,0.6,0.1
8,9,45,3,33,5,0,2,1.5,2,6,0.03,1.5,0.0
9,10,23,9,45,1,0,7,9.0,3,6,0.18,0.3,0.0

In [19]:
#Calculating score on the basis of mixed factors
df['Mixed_Score'] = df.apply(lambda row: float(B6)*(row.Mixed), axis = 1)
df

,Patient,Age,Waiting Time(in months),Distance(in km),Urgency,Insured,Mixed,Rank_WT,Age_Score,Dist_Score,Wt_Score,Urgency_score,Ins_Score,Mixed_Score
0,1,15,7,50,4,1,4,6.5,4,6,0.13,1.2,0.1,0.8
1,2,23,3,10,3,0,6,1.5,3,8,0.03,0.9,0.0,1.2
2,3,56,6,23,2,1,8,5.0,2,6,0.10,0.6,0.1,1.6
3,4,97,5,45,5,1,4,4.0,1,6,0.08,1.5,0.1,0.8
4,5,34,11,123,1,0,5,10.0,3,2,0.20,0.3,0.0,1.0
5,6,32,7,67,3,1,3,6.5,3,4,0.13,0.9,0.1,0.6
6,7,11,8,80,4,1,3,8.0,4,4,0.16,1.2,0.1,0.6
7,8,5,4,5,2,1,1,3.0,4,8,0.06,0.6,0.1,0.2
8,9,45,3,33,5,0,2,1.5,2,6,0.03,1.5,0.0,0.4
9,10,23,9,45,1,0,7,9.0,3,6,0.18,0.3,0.0,1.4

In [24]:
#Total score of patients
df['Total_Score'] = df.apply(lambda row: float(B1)*(row.Age_Score)+float(B2)*(row.Dist_Score)+(row.Wt_Score)
                                              +(row.Urgency_score)+(row.Ins_Score)+(row.Mixed_Score), axis = 1)
df

,Patient,Age,Waiting Time(in months),Distance(in km),Urgency,Insured,Mixed,Rank_WT,Age_Score,Dist_Score,Wt_Score,Urgency_score,Ins_Score,Mixed_Score,Total_Score,Patient_rank
0,1,15,7,50,4,1,4,6.5,4,6,0.13,1.2,0.1,0.8,3.83,2.0
1,2,23,3,10,3,0,6,1.5,3,8,0.03,0.9,0.0,1.2,4.03,1.0
2,3,56,6,23,2,1,8,5.0,2,6,0.10,0.6,0.1,1.6,3.80,3.0
3,4,97,5,45,5,1,4,4.0,1,6,0.08,1.5,0.1,0.8,3.78,4.0
4,5,34,11,123,1,0,5,10.0,3,2,0.20,0.3,0.0,1.0,2.20,10.0
5,6,32,7,67,3,1,3,6.5,3,4,0.13,0.9,0.1,0.6,2.83,9.0
6,7,11,8,80,4,1,3,8.0,4,4,0.16,1.2,0.1,0.6,3.26,7.0
7,8,5,4,5,2,1,1,3.0,4,8,0.06,0.6,0.1,0.2,2.96,8.0
8,9,45,3,33,5,0,2,1.5,2,6,0.03,1.5,0.0,0.4,3.33,6.0
9,10,23,9,45,1,0,7,9.0,3,6,0.18,0.3,0.0,1.4,3.38,5.0

In [25]:
#calculating the final rank for various patients on the basis of above factors
df['Patient_rank']= n+1-df['Total_Score'].rank(method ='average')
df

,Patient,Age,Waiting Time(in months),Distance(in km),Urgency,Insured,Mixed,Rank_WT,Age_Score,Dist_Score,Wt_Score,Urgency_score,Ins_Score,Mixed_Score,Total_Score,Patient_rank
0,1,15,7,50,4,1,4,6.5,4,6,0.13,1.2,0.1,0.8,3.83,2.0
1,2,23,3,10,3,0,6,1.5,3,8,0.03,0.9,0.0,1.2,4.03,1.0
2,3,56,6,23,2,1,8,5.0,2,6,0.10,0.6,0.1,1.6,3.80,3.0
3,4,97,5,45,5,1,4,4.0,1,6,0.08,1.5,0.1,0.8,3.78,4.0
4,5,34,11,123,1,0,5,10.0,3,2,0.20,0.3,0.0,1.0,2.20,10.0
5,6,32,7,67,3,1,3,6.5,3,4,0.13,0.9,0.1,0.6,2.83,9.0
6,7,11,8,80,4,1,3,8.0,4,4,0.16,1.2,0.1,0.6,3.26,7.0
7,8,5,4,5,2,1,1,3.0,4,8,0.06,0.6,0.1,0.2,2.96,8.0
8,9,45,3,33,5,0,2,1.5,2,6,0.03,1.5,0.0,0.4,3.33,6.0
9,10,23,9,45,1,0,7,9.0,3,6,0.18,0.3,0.0,1.4,3.38,5.0